---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Get Themes">
  <section class="py-20 bg-gray-50 dark:bg-gray-900">
    <div class="container mx-auto px-4">
      <h1 class="text-5xl font-bold mb-4 text-gray-900 dark:text-white">Get Themes</h1>
      <p class="text-lg text-gray-700 dark:text-gray-300">We offer a variety of download options for Themes.</p>
    </div>
  </section>

  <div class="container mx-auto px-4 mt-8">
    <div class="grid md:grid-cols-2 gap-6 mb-8">
      <a
        href="https://github.com/linux-themes/themes?tab=readme-ov-file#install"
        class="bg-white dark:bg-gray-800 text-blue-800 dark:text-blue-300 p-8 rounded-lg shadow-md text-center hover:shadow-lg transition-all relative top-0 hover:-top-1 border border-blue-400 dark:border-blue-600"
      >
        <Icon name="material-symbols:code" class="w-12 h-12 mb-4 mx-auto" />
        <h3 class="text-2xl font-bold mb-2">The Go Programing Language</h3>
        <p>The recommended installation method. It's supported by all Linux distributions and can be installed directly to path.</p>
        <!-- <p>go install github.com/linux-themes/themes@latest</p> -->
      </a>
      <a href="#" class="bg-white dark:bg-gray-800 text-gray-800 dark:text-gray-300 p-8 rounded-lg shadow-md text-center hover:shadow-lg transition-all relative top-0 hover:-top-1">
        <Icon name="material-symbols:download" class="w-12 h-12 mb-4 mx-auto" />
        <h3 class="text-2xl font-bold mb-2">Binary</h3>
        <p>Link to binaries.</p>
        <p>Link to binaries.</p>
        <p>Link to binaries.</p>
      </a>
    </div>
  </div>
</Layout>
