---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Themes">
  <section class="bg-gradient-to-r from-purple-300 via-pink-200 to-red-200 dark:from-gray-800 dark:via-gray-700 dark:to-gray-600 min-h-screen flex flex-col md:justify-between gap-4 md:gap-0">
    <div class="text-center mt-20">
      <h1 class="text-6xl font-extrabold text-gray-800 dark:text-white mb-6">Themes</h1>
      <p class="text-2xl leading-relaxed text-gray-600 dark:text-gray-300 mb-6">Easily install and manage Themes on Linux!</p>
      <a href="/download" class="mt-6 inline-block px-8 py-4 bg-blue-600 dark:bg-blue-700 text-white text-2xl rounded-lg hover:bg-blue-900 dark:hover:bg-blue-800 transition-all">
        <Icon name="material-symbols:cloud-download" class="w-6 h-6 inline mr-2" />
        Download
      </a>
      <div class="mt-4">
        <a href="https://flathub.org/apps/details/com.usethemes.themes" class="text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-gray-300 text-base">Download from GitHub</a>
      </div>
    </div>
    <div class="w-full p-24 justify-items-center">
      <img src="/uploads/day-night.png" alt="Space Theme" class="" />
    </div>
  </section>
</Layout>
