---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="ThemesLibrary">
  <section class="p-10 bg-gray-50 dark:bg-gray-900">
    <div class="container mx-auto px-4">
      <div class="text-center mb-10">
        <h1 class="text-5xl font-bold mb-4 text-gray-900 dark:text-white">Themes Library</h1>
        <p class="text-lg text-gray-700 dark:text-gray-300">Search and preview Themes.</p>
      </div>
    </div>
    <div class="flex justify-center mb-8">
      <div class="relative w-full max-w-md">
        <input
          type="search"
          id="storeSearch"
          autocomplete="off"
          placeholder="mint"
          class="w-full py-2 pl-10 pr-4 border rounded-lg shadow-sm focus:ring focus:outline-none dark:bg-gray-800 dark:text-gray-200 dark:placeholder-gray-400 dark:border-gray-700"
        />
        <Icon name="material-symbols:search" class="absolute top-2 left-2 w-6 h-6 text-gray-400 dark:text-gray-300" />
      </div>
    </div>
  </section>

  <div class="container mx-auto px-4 mt-8">
    <div id="filters" class="flex mb-8 space-x-4 overflow-x-auto md:overflow-x-hidden w-full md:justify-center">
      <button
        onclick="location.href='/themesdatabase'"
        id="allFilter"
        class="bg-gray-300 dark:bg-gray-700 text-gray-900 dark:text-gray-200 px-4 py-2 rounded-lg hover:bg-gray-400 dark:hover:bg-gray-600 transition-colors active:shadow-lg">All</button
      >
      <button
        onclick="location.href='/database/themes'"
        id="themesFilter"
        class="bg-gray-300 dark:bg-gray-700 text-gray-900 dark:text-gray-200 px-4 py-2 rounded-lg hover:bg-gray-400 dark:hover:bg-gray-600 transition-colors opacity-50">Themes</button
      >
      <button
        onclick="location.href='/database/icons'"
        id="iconsFilter"
        class="bg-gray-300 dark:bg-gray-700 text-gray-900 dark:text-gray-200 px-4 py-2 rounded-lg hover:bg-gray-400 dark:hover:bg-gray-600 transition-colors opacity-50">Icons</button
      >
      <button
        onclick="location.href='/database/configs'"
        id="configsFilter"
        class="bg-gray-300 dark:bg-gray-700 text-gray-900 dark:text-gray-200 px-4 py-2 rounded-lg hover:bg-gray-400 dark:hover:bg-gray-600 transition-colors opacity-50">Configs</button
      >
    </div>

    <div id="storeResults" class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <!-- JS will inject cards here -->
    </div>
  </div>

  <div class="modal" id="modal_installer"></div>
  <div class="modal" id="modal_review"></div>
</Layout>

<script>
  import { fetchIcons } from "../scripts/fetch";
  import { fetchThemes } from "../scripts/fetch";
  // import { fetchConfigs } from "../scripts/fetch";

  let searchInput = document.getElementById("storeSearch") as HTMLInputElement;
  let storeResults = document.getElementById("storeResults");

  // Initialization when the DOM is fully loaded
  document.addEventListener("DOMContentLoaded", () => {
    initSearch();
    fetchIcons(storeResults);
    fetchThemes(storeResults);
  });

  function initSearch(): void {
    searchInput.addEventListener("keyup", () => {
      const search = searchInput.value.toLowerCase();
      const cards = document.querySelectorAll("#storeResults .card");
      cards.forEach((element) => {
        const card = element as HTMLElement;
        if (!card.textContent?.toLowerCase().includes(search)) card.style.display = "none";
        if (card.textContent?.toLowerCase().includes(search)) card.style.display = "flex";
      });
    });
  }
</script>
