---
import Layout from "../../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Database">
  <section class="py-20 bg-gray-50 dark:bg-gray-900">
    <div class="container mx-auto px-4">
      <h1 class="text-5xl font-bold mb-4 text-gray-900 dark:text-white">Themes Database</h1>
      <p class="text-lg text-gray-700 dark:text-gray-300">Themes, Icons, and Configs for Themes.</p>
    </div>
  </section>

  <div class="container mx-auto px-4 mt-8">
    <div class="grid md:grid-cols-3 gap-6 mb-8">
      <a href="/database/themes" class="bg-white dark:bg-gray-800 text-gray-800 dark:text-gray-200 p-8 rounded-lg shadow-md text-center hover:shadow-lg transition-all relative top-0 hover:-top-1">
        <Icon name="material-symbols:layers-outline" class="w-12 h-12 mb-4 mx-auto" />
        <h3 class="text-2xl font-bold mb-2">Themes</h3>
        <div>
          These packages modify your shell theme
          <div class="px-2 py-1 rounded-lg text-lg bg-green-300 text-green-900 dark:bg-green-600 dark:text-green-100">~/.themes</div>
        </div>
      </a>
      <a href="/database/icons" class="bg-white dark:bg-gray-800 text-gray-800 dark:text-gray-200 p-8 rounded-lg shadow-md text-center hover:shadow-lg transition-all relative top-0 hover:-top-1">
        <Icon name="material-symbols:extension-outline" class="w-12 h-12 mb-4 mx-auto" />
        <h3 class="text-2xl font-bold mb-2">Icons</h3>
        <div>
          These packages modify your icons
          <div class="px-2 py-1 rounded-lg text-lg bg-purple-300 text-purple-900 dark:bg-purple-600 dark:text-purple-100">~/.icons</div>
        </div>
      </a>
      <a href="/database/configs" class="bg-white dark:bg-gray-800 text-gray-800 dark:text-gray-200 p-8 rounded-lg shadow-md text-center hover:shadow-lg transition-all relative top-0 hover:-top-1">
        <Icon name="material-symbols:cloud-download-outline" class="w-12 h-12 mb-4 mx-auto" />
        <h3 class="text-2xl font-bold mb-2">Configs</h3>
        <div>
          These packages modify your program configurations
          <div class="px-2 py-1 rounded-lg text-lg bg-orange-300 text-orange-900 dark:bg-orange-600 dark:text-orange-100">~/.configs</div>
        </div>
      </a>
    </div>
  </div>
</Layout>
